<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="mappers.ContactMapper">
 
 	<select id="selectListAllContact" resultType="ctDO">
 		SELECT 
 				ctNum
 		, 
 				ctName
 		, 
 				ctEmail
 		, 
 				ctMsg
 		, 
 				ctRgDate
 		, 
 				ctStatus
 		FROM 
 				contact
 		;
 	</select>
 	
 	<select id="selectListOneContact" resultType="ctDO">
 		SELECT 
 				ctNum
 		, 
 				ctName
 		, 
 				ctEmail
 		, 
 				ctMsg
 		, 
 				ctRgDate
 		, 
 				ctStatus
 		FROM 
 				contact 
 		WHERE 
 				ctNum 
 		= 
 				#{ctNum}
 		;
 	</select>
 	
 	<insert id="insertListContact" parameterType="ctDO">
        INSERT INTO 
        			contact 
        (
        			ctName
        , 
        			ctEmail
        , 
        			ctMsg
        ) 
        values 
        (
        			#{ctName}
        , 
        			#{ctEmail}
        , 
        			#{ctMsg}
        )
        ;
    </insert>
    
    <update id="updateListContact" parameterType="ctDO">
        UPDATE 
        		contact 
        SET 
        		ctStatus 
        = 
        		#{ctStatus} 
        WHERE 
        		ctNum 
        = 
        		#{ctNum}
        ;
    </update>
    
    <delete id="deleteListContact" parameterType="int">
    	DELETE FROM 
    				contact
    	WHERE 
    				ctNum 
    	= 
    				#{ctNum}
    	;
    </delete>
 </mapper>